<!DOCTYPE html>
<html lang="en-UK">
<head>
<meta charset="UTF-8">
	<title>Whiteboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<div class="wb-nav">
		<a href="{{ url_for('index') }}">Whiteboard</a>
		<a href="{{ url_for('comments') }}">Comments</a>
		<a href="{{ url_for('u') }}">Users</a>
		<a href="{{ url_for('login') }}">Login</a>
		<a class="active" href="{{ url_for('signup') }}">Signup</a>
		<div class="search-container">
			<form action="">
				<input type="text" placeholder="Search ..." name="search">
				<button type="submit"><img src="{{ url_for('static', filename='search-icon.png') }}" width=18 height=18></button>
			</form>
		</div>
	</div>
	<div class="wb-card-post">
		<div class="wb-card-content">
			<strong>Signup</strong>
		</div>
	</div>
	<div class="wb-card-post">
		<div class="wb-card-content">
			<form method="POST" action="">
				Username:<br>
				<input type="text" name="user_username"><br>
				Password:<br>
				<input type="password" name="user_password"><br>
				<input type="submit" value="Signup">
			</form>
		</div>
	</div>
</body>
</html>
