<!DOCTYPE html>
<html lang="en-UK">
<head>
<meta charset="UTF-8">
	<title>Whiteboard</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzlebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="wb-nav">
		<a href="index.htm">Whiteboard</a>
		<a href="">Comments</a>
		<a href="">Users</a>
		<a class="active" href="submit-post.htm">Submit</a>
		<a href="login.htm">Login</a>
		<div class="search-container">
			<form action="">
				<input type="text" placeholder="Search ..." name="search">
				<button type="submit"><i class="fas fa-search"></i></button>
			</form>
		</div>
	</div>
	<div class="wb-card-post">
		<strong>Submit</strong>
		<form>
			Subject:<br>
			<input type="text"><br>
			URL:<br>
			<input type="text"><br>
			Text:<br>
			<textarea></textarea><br>
			<input type="submit" value="Post">
		</form>
	</div>
</body>
</html>
